Flask
Flask-JWT-Extended
PyJWT
Flask-SQLAlchemy
SQLAlchemy 
Flask-Migrate 
psycopg2-binary
python-dotenv
dynaconf
passlib
marshmallow
marshmallow-enum
requests
flask-crontab
Flask-Admin
Flask-Bootstrap
SQLAlchemy-serializer
flask-simplelogin
requests-mock
